body {background-color: #9C835F;
}

.upper-panel {
    margin-top:10px;
}
.back-button {
    position:auto;
    width: auto;
    margin-top: 10px;
}

.logo-rps {
    position: auto;
    height:auto;
}

.font-rps {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 50px;
    color: #F9B23D;
    position: fixed;
}
.content-game {
    background-image: none;
    margin-top: 60px;
}

.who-win {
    text-align: center;
    margin-top: 200px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: red;
}

.rock {
    width: 128px;
    height: 92px;
    padding-top: 30px;
    margin-right: 10px;
}
.paper {
    width: 115px;
    height: 150px;
    padding-top: 30px;
    margin-right: 10px;
}
.scissors {
    width: 134px;
    height: 160px;
    padding-top: 30px;
    margin-right: 10px;
}

.r-com {
    width: 128px;
    height: 92px;
    padding-top: 30px;

}
.p-com {
    width: 115px;
    height: 150px;
    padding-top: 30px;

}
.s-com {
    width: 134px;
    height: 160px;
    padding-top: 30px;

}

.refresh {
    width: 30%;
    margin-left: 45px;
    position: relative;
}

.selected {
    background: #c4c4c4;
    border-radius: 30px;
}
.draw-selected {
    background: #035B0C;
    border-radius: 30px;
}

.match-condition {
    background: #4c9654;
    border-radius: 10px;
    transform: rotate(-28.97deg);
    color: white;
    text-align: center;
    font-size: 30px;
    text-align: center;
}
