.navbartop {
    opacity: 0.6;
    background: black
}
.jumbotron {
    background-image: url("assets/main-bg.jpg");
    background-size: cover;
    height: 80%;
    background-position: relative;
    margin-bottom: 0px;    
}
.display {
    text-align: center;
    margin-top: 100px;
    color: white;
}
.lead {
    text-align: center;
    margin-top: 100 px;
    color: white;
}
.btn {
    position: absolute;
    margin: auto;
    right:45%;
}
.section-about {
    background-image: url("assets/the-games-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
} 
.carousel1 {
    padding-top: 200px;
}  
.carousel-iner img {
    margin: auto;
    width: 100%;
}
.features {
    background-image: url("assets/features.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.feat {
    color:white;
    margin-top: 250px;
    padding-left: 200px;
}
.thegame {
    text-align: right;
    color: white;
    font-size-adjust: none;
    margin-top: 100px;
}
.about1 {
    font-size: 20px;;
}
.about2 {
    font-size: 45px;;
}
.system-req {
    background-image: url("assets/requirements.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.table, .table-bordered {
    position: relative;
    margin-left: 50px;
    padding-top: 120px;
    color: grey;
    width: 150%;
    border-color: black;  
}
.sys-h {
    color: white;
    margin-left: 50px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.th {
    height: 100px;
    font-size: 15px;
}
.font-req {
    font-size: 15px;
    color: white;
}
.top-scores {
    background-image: url("assets/Rectangle\ 4.1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: black
}
.avatop1, .avatop2, .avatop3 {
    border-radius: 50%;
    margin-top: 90px;
    margin-left: 90px
}
.text {
    color: orange;
    font-size: 18px;
}
.news-letter {
    background-image: url("assets/Rectangle\ 4.3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.colleft {
    color: white;
    margin-top: 200px;
    margin-left: 50px;
    font-size: 16px;
}
.btnscore {
    margin-left: 30px;
}
.news-logo {
    background-image: url("assets/image.png");
    background-repeat: no-repeat;
    background-size: 280px;
    margin-top: 150px;
    margin-left: 100px;
}
.sbs-letter {
    margin-top: 235px;
}
.font-ns {
    font-size: 45px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1em;
}
.ns-desc {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-ns {
    margin-right: -165px;
}
.footer {
    justify-content: space-between;
    margin-top: 5px;
}
.footer-item {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.content-copy {
    margin-bottom: 0px;
}
.copyright {
    color:grey;
    font-size: 10px;
    margin-bottom: 0px;
}
.privacy {
    color: white;
    font-size: 10px;
    margin-bottom: 0px;
}