<html>
    <head>
        <title>Challenge 2</title>
        <!--meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--load stylesheet-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="css/c2css.css">
    </head>

    <!--content ready-->
    <body>
        <div class="container-fluid">
            <!--panel atas-->
            <div class="row justify-content-start upper-panel">
                <div class="col-2"><a href="/Homepage"><img class="back-button" src="assets/_.png"></a></div>
                <div class="col-10 font-rps"><img class="logo-rps" src="assets/logo 1.png">ROCK PAPER SCISSORS</div>
            </div>
            <!--panel game-->
            <div class="row justify-content-center content-game">

                <!--player section-->
                <div class="col-4">
                    <h1 class="col-12" style="text-align: right">PLAYER 1</h1>
                    <div class="row pane-player" id="player-selected">
                    <!--rock image-->
                        <div class="col-12 choice-ply"><img src="assets/batu.png" class="rock float-right" id="rock"></div>
                    <!--paper image-->
                        <div class="col-12 choice-ply"><img src="assets/kertas.png" class="paper float-right" id="paper"></div>
                    <!--scissors image-->    
                        <div class="col-12 choice-ply"><img src="assets/gunting.png" class="scissors float-right" id="scissors"></div>
                    </div>    
                </div>

                <!--mid section-->
                <div class="col result">
                <div class="col who-win" id="text-result">VS</div>
                </div>

                <!--com section-->
                <div class="col-4">
                    <h1 class="col-12" style="text-align: left">COM</h1>
                    <div class="row pane-computer" id="com-selected">
                <!--rock image-->
                        <div class="col-12 choice-com"><img src="assets/batu.png" class="r-com float-left" id="com-rock"></div>
                <!--paper image-->
                        <div class="col-12 choice-com"><img src="assets/kertas.png" class="p-com float-left" id="com-paper"></div>
                <!--scissors image-->    
                        <div class="col-12 choice-com"><img src="assets/gunting.png" class="s-com float-left" id="com-scissors"></div>
                    </div>
                </div>    
            </div>

            <!--reload-->
            <div class="row justify-content-md-center">
                <div class="col-5"></div>
                <div class="col-2 reload-btn"><img src="assets/refresh.png" class="refresh" id="refresh"></div>
                <div class="col-5"></div>
            </div>

        </div>

    </body>
    <!--load script-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="js/c2js.js" type="text/javascript"></script>
</html>