<html>

<!--Compatible Laptop 1024p Tablet 768p-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>JANKENPO GAMES</title>
        <!--load bootstrap terlebih dahulu-->
        <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <!-- custom css -->
        <link rel='stylesheet' href='css/challenge.css'/>

        <!--stylesheet css internal-->
    </head>
    <body>
        <!--navigation bar-->
            <nav class="navbar fixed-top navbar-expand-sm navbar-dark text-white" id="nav1">
                <a class="navbar-brand" href="#">LOGO</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu"></button>
                <div class="collapse navbar-collapse flex-column" id="navbarMenu">
                    <ul class="navbar-nav nav justify-content-center">
                        <li class="nav-item">
                            <a href="/Homepage" class="nav-link">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">WORK</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">ABOUT US</a>
                        </li>
                    </ul>
                </div>    
                <div style="display: inline-block" id="navbarMenu">
                    <ul class="navbar-nav nav ml-auto"> 
                        <li class="nav-item">
                            <a href="/signup" class="nav-link">SIGN UP</a>
                        </li>
                        <li class="nav-item">
                            <a href="/login" class="nav-link">LOGIN</a>
                        </li>    
                    </ul>    
                </div>
            </nav>
        <!--jumbotron-->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display">PLAY TRADITIONAL GAME</h1>
                  <p class="lead">Experience new traditional gameplay</p>
                  <a class="btn btn-warning btn-md" href="/Games" role="button">PLAY NOW</a>
                                  
                </div>
            </div>
        <!--page content-->
            <!--page1-->
            <div class="container-fluid">
                <div class="row section-about">
                    <div class="col-md-4 pr-0 thegame">
                        <h2 class="about1">What's so special?</h2>
                        <h3 class="about2"><span>THE GAMES</span></h3>
                    </div>
                    <div class="col-md-8 pl-0 carousel1">
                        <div id="demo" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                              <li data-target="#demo" data-slide-to="0" class="active"></li>
                              <li data-target="#demo" data-slide-to="1"></li>
                              <li data-target="#demo" data-slide-to="2"></li>
                            </ul>
                          
                            <!-- The slideshow -->
                            <div class="carousel-inner img-fluid">
                              <div class="carousel-item active">
                                <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="jankenpo">
                              </div>
                              <div class="carousel-item">
                                <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="jankepo2">
                              </div>
                              <div class="carousel-item">
                                <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="jankenpo3">
                              </div>
                            </div>
                          
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </a>
                          
                          </div>
                    </div>
                </div>
            </div>
            <!--page2-->
            <div class="container-fluid">
                <div class="row features">
                    <div class="col-4"></div>
                    <div class="col-8 feat">
                        <h1>Features</h1>
                        <ul>
                            <li>TRADITIONAL GAMES</li>
                            <li>GAME SUIT</li>
                            <li>TBD</li>
                        </ul>

                    </div>
                </div>
            </div>
            <!--page3-->
            <div class="container-fluid">
                <div class="row system-req" id="requirment">
                    <div class="col-md-4 table">
                        <h2 class="sys-h">SYSTEM REQUIREMENT</h2>
                        <table class="table table-bordered table-responsive-md">
                            <tr class="font-req">
                                <th class="th"><span class="text">OS:</span><p>Windows 7 64-bit only (No OSX support at this time)</p></th>
                                <th class="th"><span class="text">PROCESSOR:</span><p>Intel Core 2 Duo @ 2.4 GHz or AMD Athlon X2 @2.8 Ghz</p></th>  
                            </tr>
                            <tr class="font-req">
                                <th class="th"><span class="text">MEMORY:</span><p>4 GB RAM</p></th>
                                <th class="th"><span class="text">STORAGE:</span><p>8 GB Available Space</p></th>
                            </tr>
                            <tr class="font-req">
                                <th class="th" colspan="2"><span class="text">GRAPHICS:</span><p>Nvidia GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p></th>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <!--page4-->
            <div class="container-fluid">
                <div class="row top-scores" id="scores">
                    <div class="col-4">
                        <div class="col">
                            <ul class="col-sm colleft">
                                <h1>TOP-SCORES</h1>
                                <p>This top scores from various game provided on this platform</p>                            </ul>
                            <div class="btn btn-warning btnscore">See more</div>
                        </div>
                        
                    </div>
                    <div class="col-8 justify-content-end">
                        <div class="col"><img class="avatop1" src="assets/ava1.jpg"> </div>
                        <div class="col"><img class="avatop2" src="assets/ava2.jpg"></div>
                        <div class="col"><img class="avatop3" src="assets/ava3.jpg"></div>
                    </div>

                </div>
            </div>
            <!--page5-->
            <div class="container-fluid">
                <div class="row news-letter" id="news">
                    <div class="col news-logo"></div>
                    <div class="col sbs-letter">
                            <h1 class="font-ns">NEWSLETTER SUBSCRIBE</h1>
                            <p class="ns-desc">in order to receiving our news, all you have to do is enter your email addres. Everything else will be taken care of by us. We will send you emails containing information about game. We dont spam.</p>
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                <input class="form-control" type="email" size="30" placeholder="Email Address" aria-label="Email">
                                <button class="btn btn-warning btn-ns" type="button">Subscribe Now</button>
                                </div>
                            </form>
                    </div>
                    <div class="col-12">
                        <div class="container content-copyright">
                            <div class="row justify-content-center footer">
                                <div class="col-1">
                                <a href="#" class="footer-item">Main</a>
                                </div>
                                <div class="col-1">
                                <a href="#" class="footer-item">About</a>
                                </div>
                                <div class="col-1-md">
                                <a href="#" class="footer-item">Game Features</a>
                                </div>
                                <div class="col-2">
                                <a href="#" class="footer-item">System Requirement</a>
                                </div>
                                <div class="col-1">
                                <a href="#" class="footer-item">Quotes</a>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row d-flex align-items-end">
                                 
                                <div class="col-md-12"> 
                                      <a href="#"><i class="fab fa-facebook-f white-text mr-4"> </i></a>         
                                      <a href="#"><i class="fab fa-twitter white-text mr-4"> </i></a>
                                      <a href="#"><i class="fab fa-youtube white-text mr-4"> </i></a>
                                      <a href="#"><i class="fab fa-twitch white-text mr-4"> </i></a>
                                </div>
                          
                               </div>
                            </div>

                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-4 footer-copyright text-left py-3 copyright">
                                    <p>&copy; Copyright
                                    <a href="#">2018 Your Games, Inc. All Right Reserverd</a></p>
                                </div>
                                <div class="col-8 footer-privacy text-right py-3 privacy">
                                    <p>PRIVACY POLICY | TERMS OF SERVICE | CODE OF CONDUCT</p>
                                </div>
                                    
                            </div>
                        </div>
                                
                    </div>
                </div>

    </body>
    <!--load javascript bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</html>